$color-white: #FFFFFF
$color-blue: #5200D9
$color-blue-light: #E4D4FF
$color-dark: #11002D
$color-back: rgba(82, 0, 217, 0.1)

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap')

@mixin adaptive($breakpoint)
    @if $breakpoint == extra-small
        @media only screen and (max-width: 360px)
            @content

    @if $breakpoint == small
        @media only screen and (max-width: 576px)
            @content

    @if $breakpoint == medium
        @media only screen and (max-width: 768px)
            @content

    @if $breakpoint == custom-928px
        @media only screen and (max-width: 928px)
            @content

    @if $breakpoint == large
        @media only screen and (max-width: 992px)
            @content

    @if $breakpoint == custom-1120px
        @media only screen and (max-width: 1120px)
            @content

    @if $breakpoint == extra-large
        @media only screen and (max-width: 1310px)
            @content

*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%
    @include adaptive(extra-large)
        font-size: 56.25%

body
    overflow-x: hidden

ul
    list-style-type: none

a
    text-decoration: none

.container
    max-width: 1240px
    margin: 0 auto
    @include adaptive(extra-large)
        padding: 0 40px
    @include adaptive(medium)
        padding: 0 20px
@keyframes scrolling
    0%
        transform: translateX(0)
    100%
        transform: translateX(-100%)

@keyframes scrolling-reverse
    0%
        transform: translateX(-100%)
    100%
        transform: translateX(0)
