$color-white: #FFFFFF
$color-blue: #5200D9
$color-blue-light: #E4D4FF
$color-dark: #11002D

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap')

@mixin respond($breakpoint)
    @if $breakpoint == phone-min
        @media only screen and (max-width: 514px)
            @content

    @if $breakpoint == phone
        @media only screen and (max-width: 744px)
            @content

    @if $breakpoint == tab-port
        @media only screen and (max-width: 914px)
            @content

    @if $breakpoint == tab-land
        @media only screen and (max-width: 1220px)
            @content

*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%

body
    overflow-x: hidden

ul
    list-style-type: none

a
    text-decoration: none

.container
    max-width: 1240px
    margin: 0 auto

@keyframes scrolling
    0%
        transform: translateX(0)
    100%
        transform: translateX(-100%)

@keyframes scrolling-reverse
    0%
        transform: translateX(-100%)
    100%
        transform: translateX(0)
