.burger
    display: none
    flex-direction: column
    justify-content: space-between
    align-items: flex-end
    width: 28px
    height: 21px
    z-index: 11
    @include adaptive(medium)
        display: flex
    &__span
        width: 100%
        height: 3px
        background: $color-white
    &__span-1
        width: 50%

.burger-menu
    position: fixed
    width: 100%
    height: 100%
    background: black
    padding: 28px 20px
    transform: translateX(100%)
    transition: transform .3s ease
    z-index: 10
    &__list
        display: flex
        flex-direction: column
        gap: 25px
    &__link
        font-weight: 300
        font-size: 20px
        line-height: 91%
        color: $color-white
        text-decoration: none

.burger--active
    span
        transform: translateX(0)

.burger-menu--active
    transform: translateX(0)
