.btn-sale
    display: flex
    align-items: center
    font-family: "Inter", sans-serif
    font-weight: 300
    font-size: 16px
    line-height: 91%
    color: $color-white
    border: 1px solid $color-white
    border-radius: 5px
    background: transparent
    padding: 8px
    cursor: pointer
    transition: 0.2s all
    &:hover
        background: $color-blue
        @include adaptive(medium)
            background: transparent
    @include adaptive(medium)
        font-size: 20px
        margin-bottom: 40px
    &__letter-icon
        width: 20px
        height: 17px
        margin-right: 4px
        @include adaptive(medium)
            width: 24px
            height: 21px

.nav-menu
    &__list
        display: flex
        gap: 171px
        @include adaptive(extra-large)
            gap: 116px
        @include adaptive(large)
            gap: 80px
        @include adaptive(medium)
            flex-direction: column
            gap: 40px
    &__link
        font-family: "Inter", sans-serif
        font-weight: 300
        font-size: 16px
        line-height: 91%
        color: $color-white
        transition: .2s all
        @include adaptive(medium)
            font-size: 20px
    &__link-product
        display: flex
        align-items: center
        margin-bottom: 8px
    &__product-icon
        margin-left: 4px
        width: 8px
        height: 4px
        transition: .2s all
        @include adaptive(medium)
            width: 10px
            height: 6px
    &__accordeon-list
        display: none
        position: absolute
        border-radius: 5px
        background-color: $color-blue
    &__accordeon-item
        padding: 8px
        color: $color-white
        transition: .1s
        cursor: pointer
        &:hover
            background: $color-white
            color: $color-dark
    &__accordeon-link
        font-family: "Inter", sans-serif
        font-weight: 300
        font-size: 14px
        line-height: 91%
        color: inherit
        @include adaptive(medium)
            font-size: 20px

.accordeon-list--active
    display: block

.product-icon--active
    transform: rotate(0.5turn)
