.filter
    position: relative
    display: flex
    align-items: center
    width: 100%
    height: 82px
    border-radius: 5px
    padding: 0 40px
    background: $color-white
    @include adaptive(large)
        padding: 0 24px
    @include adaptive(medium)
        height: 57px
    @include adaptive(small)
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: repeat(3, 28px)
        gap: 16px
        height: 148px
        padding: 16px 24px
    @include adaptive(extra-small)
        height: 195px
    &__search-country
        position: relative
        border-right: 1px solid $color-blue
        width: 35%
        @include adaptive(large)
            width: 25%
        @include adaptive(small)
            grid-column: 1 / span 2
            width: 100%
            border: none
    &__input-country
        font-weight: 400
        font-size: 18px
        width: 90%
        height: 48px
        border: none
        cursor: text
        @include adaptive(large)
            font-size: 16px
        @include adaptive(medium)
            height: 30px
            font-size: 14px
        @include adaptive(small)
            height: 28px
            width: 100%
            background: $color-blue-mobile
            padding: 3px 8px
            border-radius: 5px
    &__country-list
        display: none
        position: absolute
        top: 74px
        left: -40px
        font-weight: 400
        font-size: 18px
        color: $color-dark
        width: 110%
        height: 180px
        background-color: $color-white
        border-radius: 5px
        z-index: 1
        overflow-y: scroll
        @include adaptive(large)
            font-size: 16px
            left: -24px
        @include adaptive(medium)
            font-size: 14px
            top: 50px
        @include adaptive(small)
            top: 30px
            width: 70%
    &__country-item
        padding: 12px 40px
        cursor: pointer
        text-overflow: ellipsis
        overflow: hidden
        &:hover
            background-color: $color-blue-light
            @include adaptive(medium)
                background-color: $color-white

        @include adaptive(large)
            padding: 11px 24px
    &__date
        border-right: 1px solid $color-blue
        width: 20%
        padding: 0 35px
        @include adaptive(custom-1120px)
            padding: 0 20px
        @include adaptive(large)
            width: 25%
        @include adaptive(medium)
            padding: 0 12px
        @include adaptive(small)
            background: $color-blue-mobile
            border-radius: 5px
            border: none
            padding: 0
            width: 100%
        @include adaptive(extra-small)
            grid-column: 1 / span 2
    &__date-input
        font-weight: 400
        font-size: 18px
        width: 132px
        height: 48px
        border: none
        cursor: pointer
        @include adaptive(large)
            font-size: 16px
            width: 120px
        @include adaptive(medium)
            font-size: 14px
            width: 103px
            height: 30px
        @include adaptive(small)
            height: 28px
            background: $color-blue-mobile
            border-radius: 5px
            padding: 8px
            width: 120px
    &__persons
        position: relative
        font-weight: 400
        font-size: 18px
        padding-left: 40px
        width: 25%
        @include adaptive(large)
            font-size: 16px
        @include adaptive(medium)
            font-size: 14px
            padding-left: 24px
        @include adaptive(small)
            grid-column: 1 / span 2
            width: 100%
            height: 28px
            background: $color-blue-mobile
            border-radius: 5px
            padding: 3px 8px
    &__persons-wrap
        display: flex
        justify-content: space-between
        align-items: center
        cursor: pointer
    &__persons-label
        cursor: pointer
    &__select-person-icon
        width: 13px
        height: 7px
        transition: transform .2s ease

.country-list--active
    display: block

.person-calc
    display: none
    position: absolute
    top: 61px
    left: 0
    width: 113.7%
    font-weight: 400
    color: $color-dark
    background: $color-white
    border-radius: 5px
    padding: 20px 39px
    z-index: 1
    @include adaptive(extra-large)
        padding: 15px 20px
    @include adaptive(custom-928px)
        overflow-y: scroll
        height: 162px
    @include adaptive(small)
        top: 30px
        width: 50%
    &__wrap
        display: flex
        justify-content: space-between
        align-items: center
        &:not(:last-child)
            margin-bottom: 12px
        &:nth-child(1)
            margin-bottom: 15px
            @include adaptive(custom-928px)
                margin-bottom: 12px
        @include adaptive(custom-928px)
            flex-direction: column
            gap: 8px
    &__title
        font-size: 16px
        span
            font-size: 12px
            opacity: 0.5
        @include adaptive(large)
            font-size: 14px
        @include adaptive(custom-928px)
            text-align: center
    &__counter
        display: flex
        justify-content: space-between
        align-items: center
        width: 87px
        border: 1px solid $color-dark
        border-radius: 5px
        padding: 6px 8px
        @include adaptive(extra-large)
            width: 70px
        @include adaptive(large)
            width: 60px
            padding: 3px 5px
    &__icon
        height: 16px
        width: 16px
        cursor: pointer
    &__number
        font-weight: 400
        @include adaptive(large)
            font-size: 16px

.person-calc--active
    display: block

.select-person-icon--active
    transform: rotate(0.5turn)
