.footer
    border-top: 1px solid $color-blue
    padding: 3.5rem 0 6.5rem 0
    &__container
        display: flex
        justify-content: space-between
        gap: 5.2rem
        @include adaptive(medium)
            position: relative
        @include adaptive(small)
            flex-direction: column
            gap: 30px
    &__title
        margin-bottom: 1.2rem
    &__link
        font-weight: 400
        font-size: 14px
        line-height: 160%
        color: $color-dark
        transition: opacity .1s ease
        text-decoration: none
        &:hover
            opacity: 0.5
            @include adaptive(medium)
                opacity: 1
    &__social
        @include adaptive(medium)
            position: absolute
            bottom: -150px
            padding-bottom: 55px
    &__social-wrap
        display: flex
        flex-wrap: wrap
        gap: 1.5rem
        width: 17.3rem
        @include adaptive(medium)
            width: 100%
    &__social-icon
        width: 3.2rem
        height: 3.2rem
        transition: opacity .1s ease
        &:hover
            opacity: 0.5
            @include adaptive(medium)
                opacity: 1
