.header
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 28px
    margin-bottom: 12%
    @include adaptive(medium)
        align-items: flex-start
        margin-bottom: 80px
    @include adaptive(small)
        margin-bottom: 40px
    &__icon
        width: 148px
        transform: translateY(-19px)
        @include adaptive(medium)
        width: 134px
    &__nav
        @include adaptive(medium)
            display: none
    &__btn-sale
        @include adaptive(medium)
            display: none
