.section-cards
    margin-bottom: 150px
    @include adaptive(extra-large)
        margin-bottom: 100px
    @include adaptive(medium)
        margin-bottom: 64px
    &__title
        text-align: center
        margin-bottom: 56px
        @include adaptive(small)
            font-size: 20px
    &__cards-wrap
        display: grid
        grid-template-columns: repeat(4, 295px)
        grid-template-rows: 295px
        gap: 20px
        justify-content: center
        @include adaptive(extra-large)
            grid-template-columns: repeat(4, 213px)
            grid-template-rows: 213px
        @include adaptive(large)
            grid-template-columns: repeat(2, 354px)
            grid-template-rows: repeat(2, 213px)
        @include adaptive(medium)
            grid-template-columns: repeat(2, 258px)
        @include adaptive(small)
            grid-template-columns: repeat(1, 300px)
    &__card
        position: relative
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        background: $color-back
        border-radius: 5px
        padding: 34px 42px
        @include adaptive(extra-large)
            padding: 0 0 8px 0
        @include adaptive(large)
            justify-content: center
        @include adaptive(medium)
            padding: 10px 25px

    &__number
        font-weight: 800
        font-size: 128px
        color: $color-blue
        opacity: 0.1
        position: absolute
        top: 0
        left: 0
        padding-left: 20px
        @include adaptive(extra-large)
            font-size: 93px
            padding-left: 7px
            transform: translateY(-14px)
        @include adaptive(large)
            padding-top: 10px
            padding-left: 32px
        @include adaptive(medium)
            padding-left: 7px
    &__icon
        margin-top: 40px
        margin-bottom: 30px
        @include adaptive(extra-large)
            margin-top: 0
            margin-bottom: 0
    &__text
        font-weight: 400
        font-size: 16px
        line-height: 150%
        text-align: center
        color: black

.icon-card-1
    width: 90px
    height: 114px
    @include adaptive(extra-large)
        width: 78px
        height: auto
    @include adaptive(large)
        width: 90px
    @include adaptive(medium)
        width: 78px

.icon-card-2
    width: 112px
    height: 112px
    @include adaptive(extra-large)
        width: 97px
        height: auto
    @include adaptive(large)
        width: 112px
    @include adaptive(medium)
        width: 97px

.icon-card-3, .icon-card-4
    width: 114px
    height: 114px
    @include adaptive(extra-large)
        width: 100px
        height: auto
    @include adaptive(large)
        width: 114px
    @include adaptive(medium)
        width: 100px
