.countries
    margin-bottom: 15rem
    @include adaptive(extra-large)
        margin-bottom: 100px
    &__container
        display: flex
        width: 100%
        overflow: hidden
        border-top: 3px solid $color-blue
        border-bottom: 3px solid $color-blue
        padding: 4rem 0
    &__wrap-item
        display: flex
        width: 200%
        animation: scrolling 25s linear infinite
    &__item
        font-family: "Inter", sans-serif
        font-weight: 800
        font-size: 64px
        color: black
        white-space: nowrap
        padding: 0 3rem
        width: 100%
        @include adaptive(extra-large)
            font-size: 56px
        @include adaptive(custom-928px)
            font-size: 40px
