.section-cards
    margin-bottom: 150px
    @include adaptive(extra-large)
        margin-bottom: 100px
    @include adaptive(medium)
        margin-bottom: 64px
    &__title
        text-align: center
        margin-bottom: 56px
        @include adaptive(small)
            font-size: 20px
    &__cards-wrap
        display: grid
        grid-template-columns: repeat(4, 295px)
        grid-template-rows: 295px
        grid-auto-rows: 295px
        gap: 20px
        justify-content: center
        @include adaptive(extra-large)
            grid-template-columns: repeat(4, 213px)
            grid-template-rows: 213px
            grid-auto-rows: 213px
        @include adaptive(large)
            grid-template-columns: repeat(2, 354px)
            grid-template-rows: repeat(2, 213px)
            grid-auto-rows: 213px
        @include adaptive(medium)
            grid-template-columns: repeat(2, 258px)
        @include adaptive(small)
            grid-template-columns: repeat(1, 300px)
    &__card
        position: relative
        display: flex
        flex-direction: column
        justify-content: flex-end
        align-items: center
        background-color: $color-back
        border-radius: 5px
        padding: 34px 42px
        background-repeat: no-repeat
        background-position: center top 70px
        &::after
            content: "1"
            font-weight: 800
            font-size: 128px
            color: $color-blue
            opacity: 0.1
            position: absolute
            top: -23px
            left: 0
            padding-left: 20px
            @include adaptive(extra-large)
                font-size: 93px
                padding-left: 7px
            @include adaptive(large)
                padding-left: 32px
            @include adaptive(medium)
                padding-left: 7px
            @include adaptive(small)
                padding-left: 23px
        @include adaptive(extra-large)
            padding: 0 0 8px 0
            background-position: center top 41px
        @include adaptive(large)
            padding: 0 0 20px 0
        @include adaptive(medium)
            padding: 10px 25px
    &__icon
        margin-top: 40px
        margin-bottom: 30px
        @include adaptive(extra-large)
            margin-top: 0
            margin-bottom: 0
    &__text
        font-weight: 400
        font-size: 16px
        line-height: 150%
        text-align: center
        color: black

.section-cards__card--1
    background-image: url("../img/icon-card-1.svg")
    @include adaptive(extra-large)
        background-size: 80px auto
    @include adaptive(large)
        background-size: 90px auto
    @include adaptive(medium)
        background-size: 80px auto

.section-cards__card--2
    background-image: url("../img/icon-card-2.svg")
    &::after
        content: "2"
    @include adaptive(extra-large)
        background-size: 98px auto
    @include adaptive(large)
        background-size: 112px auto
    @include adaptive(medium)
        background-size: 98px auto

.section-cards__card--3
    background-image: url("../img/icon-card-3.svg")
    &::after
        content: "3"
    @include adaptive(extra-large)
        background-size: 100px auto
    @include adaptive(large)
        background-size: 114px auto
    @include adaptive(medium)
        background-size: 100px auto

.section-cards__card--4
    background-image: url("../img/icon-card-4.svg")
    &::after
        content: "4"
    @include adaptive(extra-large)
        background-size: 100px auto
    @include adaptive(large)
        background-size: 114px auto
    @include adaptive(medium)
        background-size: 100px auto
