.section-about
    margin-bottom: 10px
    @include adaptive(extra-large)
        margin-bottom: 127px
    @include adaptive(medium)
        margin-bottom: 64px
    &__container
        padding-left: 106px
        @include adaptive(extra-large)
            display: flex
            flex-direction: column
            align-items: center
        @include adaptive(large)
            padding-left: 40px
        @include adaptive(medium)
            padding-left: 20px
    &__flex-wrap
        display: flex
        align-items: center
        @include adaptive(medium)
            flex-direction: column
            &:not(:last-child)
                margin-bottom: 48px
        @include adaptive(small)
            &:not(:last-child)
                margin: 0
    &__title
        font-weight: 500
        position: relative
        width: max-content
        padding: 0 12px 12px 0
        margin-bottom: 30px
        &::after
            content: ""
            width: 83px
            height: 53px
            position: absolute
            right: 0
            bottom: 0
            border-right: 1px solid $color-blue
            border-bottom: 1px solid $color-blue
            z-index: 1
            @include adaptive(extra-large)
                width: 83px
                height: 37px
            @include adaptive(small)
                width: 83px
                height: 31px
        @include adaptive(small)
            margin-bottom: 20px
    &__text
        max-width: 505px

.about-img-1
    width: 399px
    height: 399px
    margin-left: 54px
    @include adaptive(extra-large)
        width: 293px
        height: auto
    @include adaptive(custom-928px)
        margin: 0
    @include adaptive(medium)
        width: 249px
        height: auto

.about-img-2
    width: 399px
    height: 399px
    margin-right: 125px
    @include adaptive(extra-large)
        width: 293px
        height: auto
    @include adaptive(custom-928px)
        margin-right: 33px
    @include adaptive(medium)
        width: 249px
        height: auto
    @include adaptive(small)
        margin-bottom: 8px

.about-img-3
    width: 576px
    height: 385px
    margin-left: 43px
    @include adaptive(extra-large)
        width: 462px
        height: auto
    @include adaptive(custom-928px)
        margin: 0
    @include adaptive(medium)
        width: 292px
        height: auto
    @include adaptive(small)
        margin-bottom: 8px

.about-img-4
    width: 399px
    height: 399px
    margin-right: 125px
    @include adaptive(extra-large)
        width: 293px
        height: auto
    @include adaptive(custom-928px)
        margin-right: 33px
    @include adaptive(medium)
        width: 249px
        height: auto

.about-flex-2
    transform: translateY(-80px)
    @include adaptive(extra-large)
        transform: translateY(0)
    @include adaptive(medium)
        flex-direction: column-reverse

.about-flex-3
    transform: translateY(-110px)
    @include adaptive(extra-large)
        transform: translateY(0)

.about-flex-4
    transform: translateY(-140px)
    @include adaptive(extra-large)
        transform: translateY(0)
    @include adaptive(medium)
        flex-direction: column-reverse
