.countries
    margin-bottom: 15rem
    &__container
        display: flex
        width: 100%
        overflow: hidden
        border-top: 3px solid $color-blue
        border-bottom: 3px solid $color-blue
        padding: 4rem 0
    &__wrap-item
        display: flex
        width: 200%
        // animation: scrolling 25s linear infinite
    &__item
        font-family: "Inter", sans-serif
        font-weight: 800
        font-size: 6.4rem
        color: black
        white-space: nowrap
        padding: 0 3rem
        width: 100%
