.section-reviews
    margin-bottom: 20rem
    @include adaptive(custom-928px)
        margin-bottom: 150px
    @include adaptive(small)
        margin-bottom: 100px
    &__title
        text-align: center
        margin-bottom: 5rem
        @include adaptive(small)
            font-size: 20px
