.title-1
    font-family: "Inter", sans-serif
    font-weight: 800
    font-size: 4rem
    color: $color-white

.title-2
    font-family: "Inter", sans-serif
    font-weight: 300
    font-size: 2.8rem
    color: $color-white
